@import "tailwindcss";

@theme {

  /* Color Palette */
  --color-primary: #632EE3;
  --color-secondary: #001931;
  --color-gray: #627382;
  /* Container Width */
  --container-max-width: 1440px;
}

@layer base {
  body {
    @apply bg-[#F5F5F5];
  }

  section {
    @apply py-20;
  }

  h2 {
    @apply text-5xl font-bold text-[#001931];
  }

  p {
    @apply text-gray;
  }
}

@layer components {
  .container {
    @apply !max-w-[var(--container-max-width)] mx-auto px-6;
  }
}

@layer utilities {
  .max-w-container {
    max-width: var(--container-max-width);
  }
}